* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Estilos Gerais */
header {
  background-color: white;
  padding: 1em 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  /* Espaço entre logo e menu */
  align-items: center;
  /* Alinha verticalmente os itens */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* Permite posicionamento absoluto dos itens filhos */
}

header .logo {
  color: #333;
  font-size: 1.8em;
  font-weight: bold;
}

input#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: #333;
}

/* Links do Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease-in-out;
}

header a {
  color: #333;
  text-decoration: none;
  font-size: 1.1em;
}

header a:hover {
  color: #007bff;
}

/* Botão FAQ */
header .faq-button {
  font-weight: bold;
  color: #007bff;
}

header .faq-button:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1024px) {
  header nav {
    flex-direction: row;
    /* Mantém logo e menu em linha */
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: block;
    /* Mostra o ícone do menu */
  }

  .nav-links {
    display: none;
    /* Oculta o menu por padrão */
    flex-direction: column;
    /* Organiza links verticalmente */
    position: absolute;
    /* Menu aparece abaixo */
    top: 100%;
    /* Alinha com a parte inferior do menu */
    left: 0;
    width: 100%;
    /* Ocupa a largura total */
    background-color: white;
    /* Fundo para contraste */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra para destacar */
    padding: 1em 0;
    z-index: 10;
  }

  input#menu-toggle:checked~.nav-links {
    display: flex;
    /* Mostra o menu ao marcar o checkbox */
  }

  .nav-links a {
    padding: 0.5em 1em;
    text-align: left;
    font-size: 1.2em;
  }
}

/* Estilo da Hero Section */
.hero-section {
  height: 100vh;
  /* Altura da tela toda */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-image: url('./img/back11.jpeg');
  /* Substitua por um URL válido */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Parallax effect */
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* Overlay escuro para melhorar a legibilidade do texto */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Ajuste a opacidade conforme necessário */
  z-index: -1;
  /* Fica atrás do conteúdo */
}

/* Estilo do conteúdo centralizado */
.hero-content {
  max-width: 600px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

.showcase-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  background-color: hsl(225, 75%, 29%);
  box-sizing: border-box;
}

.text-container {
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}

.text-container h1 {
  font-size: 2.3em;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.text-container p {
  font-size: 1.0125rem;
  line-height: 1.3;
  max-width: 950px;
  margin: auto;
}

.screens-container {
  width: 80%;
  max-width: 1000px;
  height: 500px;
  background: url(./img/grafico-computador-removebg-preview.png) no-repeat center center;
  background-size: contain;
}

@media (max-width: 768px) {
  .text-container h1 {
    font-size: 2em;
  }

  .text-container p {
    font-size: 1em;
    padding: 0 20px;
  }

  .screens-container {
    height: 300px;
    background-size: contain;
  }
}

@media (max-width: 480px) {
  .text-container h1 {
    font-size: 1.6em;
  }

  .text-container p {
    font-size: 0.9em;
  }

  .screens-container {
    height: 250px;
    background-size: contain;
  }
}


.performance-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* Empilha elementos por padrão */
  align-items: center;
  margin: 5px;
}

.performance-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  /* Limita a largura do gráfico */
}

.performance-text-container {
  width: 100%;
  text-align: center;
  /* Centraliza o texto */
}

.performance-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}

.performance-title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.performance-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.performance-cta-btn {
  background-color: #4A90E2;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .performance-container {
    flex-direction: row;
    /* Organiza o layout em linha em telas maiores */
    padding: 40px;
  }

  .performance-chart-container {
    width: 50%;
    /* Gráfico ocupa no máximo 50% da largura em telas maiores */
    height: 400px;
    /* Ajusta a altura para telas maiores */
  }

  .performance-text-container {
    width: 50%;
    /* Texto ocupa 50% da largura em telas maiores */
    text-align: left;
    /* Alinha o texto à esquerda */
  }

  .performance-cta-btn {
    width: 100%;
    /* Botão ocupa toda a largura disponível em dispositivos menores */
  }
}

@media (max-width: 767px) {
  .performance-container {
    padding: 20px;
  }

  .performance-chart-container {
    width: 100%;
    /* Gráfico ocupa toda a largura em telas menores */
    height: 300px;
    /* Ajusta a altura do gráfico para telas menores */
  }

  .performance-text-container {
    width: 100%;
    /* Texto ocupa toda a largura em telas menores */
  }

  .performance-title {
    font-size: 28px;
    /* Reduz o tamanho da fonte em telas menores */
  }

  .performance-description {
    font-size: 14px;
    /* Reduz o tamanho da fonte em telas menores */
  }
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-dental .card {
  background-color: #4A90E2;
}

.card-tech .card {
  background-color: #1C2943;
}

.rounded-card {
  border-radius: 10px;
  padding: 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-image {
  width: 80px;
  height: 80px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-text {
  font-size: 14px;
  color: #DDEFFF;
  margin-bottom: 30px;
}

.btn-rounded {
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: bold;
}

.footer-container {
  background-color: #1C2943;
  color: #DDEFFF;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 50px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-section {
  text-align: center;
  align-items: center;
}

.logo-section svg {
  margin-top: 1.875rem;
  border-radius: 100%;
  width: 35%;
}

.logo-section p {
  font-size: 14px;
  margin-top: 1.875rem;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #DDEFFF;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

/* Seção do time */
.team-section {
  background-color: #fff;
  /* Fundo branco */
  padding: 60px 20px;
  text-align: center;
}

/* Título da seção */
.team-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #182c84;
  /* Cor azul escuro */
  margin-bottom: 50px;
  letter-spacing: 1px;
}

/* Contêiner do time */
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

/* Estilo de cada membro */
.team-member {
  background: linear-gradient(135deg, #fff, #f4f4f4);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  width: 23%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Foto dos membros */
.team-photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

/* Informações dos membros */
.team-info {
  color: black;
}

.team-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  margin-bottom: 8px;
}

.team-role {
  font-size: 1.2rem;
  color: black;
  font-weight: 300;
}

/* Responsividade */
@media (max-width: 1024px) {
  .team-member {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .team-member {
    width: 100%;
    margin-bottom: 20px;
  }
}

#map {
  margin-top: 100px;
  width: 100%;
  margin-bottom: -4px;
}

#map iframe {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Fundo azul escuro e estilo aprimorado dos depoimentos */
.testimonial-area {
  padding: 50px 20px;
  background-color: #182c84;
  /* fundo azul escuro */
  color: #fff;
  /* cor do texto ajustada para o fundo escuro */
}

.testimonial-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.testimonial-heading {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
  /* Título em branco */
  margin-bottom: 40px;
}

.testimonial-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.testimonial-block {
  background-color: #fff;
  /* Cor de fundo dos cards */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  /* Sombra mais suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.testimonial-block:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  /* Sombra mais intensa ao passar o mouse */
}

.testimonial-block::before {
  content: '';
  position: absolute;
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background-color: rgba(40, 194, 255, 0.2);
  /* Círculo decorativo */
  border-radius: 50%;
  z-index: 0;
}

.testimonial-quote {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-style: italic;
  color: #182c84;
  /* Texto em azul escuro para contraste */
  z-index: 1;
  position: relative;
}

.testimonial-author {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  z-index: 1;
  position: relative;
}

.testimonial-position {
  font-size: 1rem;
  color: #0e7c7b;
  z-index: 1;
  position: relative;
}

.terms-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  /* Ajustei o padding para garantir que o conteúdo não fique colado */
  background-color: #f4f6f9;
}

.terms-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Centraliza os itens na linha */
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  /* Limita a largura máxima */
  width: 100%;
  margin: 0 auto;
  /* Centraliza o conteúdo */
  padding: 0 20px;
  /* Adiciona espaçamento nas laterais */
}

.terms-text h2 {
  font-size: 2.8rem;
  font-weight: 700;
}

.terms-text {
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
  /* Adiciona espaçamento à esquerda */
  padding-right: 20px;
  /* Adiciona espaçamento à direita */
}

.privacy-policy {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 10px;
}

.terms-text h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.terms-description,
.terms-details {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}

.demo-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.demo-btn:hover {
  background-color: blue;
}

.terms-image {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
  padding-left: 1.25rem;
  /* Adiciona espaçamento à esquerda da imagem */
}

.terms-image img {
  width: 70%;
  max-width: 28.125rem;
  border-radius: .3125rem;
}

/* Responsividade */
@media (max-width: 48rem) {
  .terms-content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .terms-text h2 {
    font-size: 2rem;
  }

  .terms-description,
  .terms-details {
    font-size: 1rem;
  }

  .terms-image img {
    width: 80%;
    /* Ajusta a largura para dispositivos menores */
  }

  .demo-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .terms-section {
    padding: 20px 10px;
  }

  .terms-text {
    max-width: 100%;
  }

  .terms-text h2 {
    font-size: 1.8rem;
  }

  .terms-description,
  .terms-details {
    font-size: 0.9rem;
  }

  .terms-image img {
    width: 100%;
    /* Ajusta para telas muito pequenas */
  }

  .demo-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}


/* Estilos Gerais */
.faq-section {
  padding: 80px 40px;
  background-color: #182c84;
  /* Fundo azul escuro */
  color: #fff;
  text-align: center;
}

.faq-heading {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.faq-subheading {
  font-size: 1.2rem;
  color: #b0b0b0;
  margin-bottom: 50px;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* Estilo dos Cards */
.faq-item {
  background-color: #fff;
  color: #333;
  padding: 40px 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-item:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.faq-icon {
  font-size: 2rem;
  /* Ajuste do tamanho do ícone */
  background-color: #182c84;
  color: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 20px;
}


.faq-title {
  font-size: 1.6rem;
  color: #182c84;
  margin-bottom: 15px;
  font-weight: 600;
}

.faq-text {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.faq-link {
  font-size: 1rem;
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.faq-link:hover {
  color: #003a80;
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .faq-heading {
    font-size: 2.4rem;
  }

  .faq-subheading {
    font-size: 1.1rem;
  }

  .faq-title {
    font-size: 1.4rem;
  }

  .faq-text {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .faq-heading {
    font-size: 2rem;
  }

  .faq-subheading {
    font-size: 1rem;
  }

  .faq-title {
    font-size: 1.3rem;
  }

  .faq-text {
    font-size: 0.9rem;
  }
}

.contact-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}

.contact-container {
  margin-top: 60px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contact-left {
  flex: 1;
  background-color: #0d7ff9;
  color: #fff;
  padding: 40px;
  border-radius: 8px;
}

.contact-left h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contact-left ul {
  list-style: none;
  padding-left: 0;
}

.contact-left li {
  font-size: 1.2rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.contact-left li i {
  margin-right: 10px;
  color: #78a75a;
}

.contact-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-right h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #131b23;
  text-transform: uppercase;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 80%;
  padding: 15px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form button {
  width: 80%;
  padding: 15px;
  font-size: 1rem;
  background-color: #007aff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

form button:hover {
  background-color: #28c2ff;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    flex: 1 1 100%;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .contact-left h3,
  .contact-right h3 {
    font-size: 1.8rem;
  }

  form input {
    width: 90%;
  }

  form button {
    width: 90%;
  }
}

@media (max-width: 480px) {

  .contact-left h3,
  .contact-right h3 {
    font-size: 1.6rem;
  }

  .contact-left li {
    font-size: 1rem;
  }

  form input {
    width: 100%;
    padding: 12px;
  }

  form button {
    width: 100%;
    padding: 12px;
  }
}


.stock-carousel {
  width: 100%;
  overflow: hidden;
  /* Oculta o conteúdo que sai da área visível */
  background-color: #f8f9fa;
  padding: 10px 0;
  position: relative;
}

.carousel-track {
  display: flex;
  animation: scroll-left 10s linear infinite;
  /* Animação contínua */
}

.stock-item {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  padding: 0 20px;
  color: #333;
  white-space: nowrap;
  /* Evita quebra de linha */
}

.positive {
  color: green;
}

.negative {
  color: red;
}

/* Animação para mover o conteúdo da direita para a esquerda */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    /* Move 50% da largura dos itens */
  }
}

.economy-cards {
  background-color: #fff;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.economy-card {
  border: 1px solid blue;
  background: linear-gradient(135deg, #fff, #f4f4f4);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.economy-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #0e7c7b;
  background: linear-gradient(145deg, #28c2ff, #182c84);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
}

.economy-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #182c84;
  font-weight: bold;
}

.economy-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.economy-card:after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(40, 194, 255, 0.15), transparent);
  transform: rotate(25deg);
  transition: opacity 0.4s ease;
}

.economy-card:hover:after {
  opacity: 0.5;
}

/* Ajustes responsivos */
@media (max-width: 64rem) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}

@media (max-width: 48rem) {
  .cards-container {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }

  .economy-card {
    padding: .9375rem;
  }

  .card-icon {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 2.5rem;
  }

  .economy-card h3 {
    font-size: 1.25rem;
  }

  .economy-card p {
    font-size: 0.9rem;
  }
}

/* Estilo do Modal */
.modal {
  display: none;
  /* Oculta o modal por padrão */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo semi-transparente escuro */
  overflow: auto;
  transition: opacity 0.3s ease-in-out;
  /* Efeito suave de transição */
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  /* Tamanho máximo */
  margin: 10% auto;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra suave */
  transform: translateY(-20px);
  /* Efeito de transição */
  transition: transform 0.3s ease-in-out;
}

/* Estilo para o cabeçalho do modal */
.modal-content h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

/* Estilo do texto do modal */
.modal-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* Estilo do botão de fechar */
.close {
  color: blue;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: lightskyblue;
  /* Cor de destaque para o hover */
}

/* Efeito de animação ao abrir o modal */
.modal.show .modal-content {
  transform: translateY(0);
  /* Modal aparece com animação */
}

/* Estilo de fundo escuro que desfoque a tela */
.modal.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

.faq-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.faq-modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  color: #333;
  text-align: center;
}

.faq-modal h4 {
  margin-bottom: 15px;
  color: #182c84;
}

.faq-modal p {
  color: #666;
}

.faq-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.faq-modal-close:hover {
  color: #000;
}

.particles-section {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Altura total da tela */
  overflow: hidden;
  /* Esconde qualquer coisa fora da tela */
}

/* Canvas do Particles.js */
#particles-js {
  background-color: #182c84;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Coloca as partículas no fundo */
}

/* Conteúdo sobre o background */
.particles-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centraliza o conteúdo */
  z-index: 2;
  /* Garante que o conteúdo fique acima das partículas */
  color: #fff;
  /* Cor do texto */
  padding: 1.25rem;
  text-align: center;
  min-width: 18.75rem;
  /* Largura mínima */
  min-height: 9.375rem;
  /* Altura mínima */
  border-radius: .625rem;
  /* Bordas arredondadas */
}

.content h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

/* Estilo do botão */
.cta-btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, #1e90ff, #00bfff, #1e90ff);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
  text-transform: uppercase;
  box-shadow: 0px 4px 15px rgba(30, 144, 255, 0.4);
  transition: all 0.3s ease-in-out;
}

/* Efeito hover */
.cta-btn:hover {
  color: #000;
  background: #fff;
  box-shadow: 0px 6px 20px rgba(30, 144, 255, 0.6);
  transform: scale(1.1);
}

/* Efeito visual animado */
.cta-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

/* Efeito de "brilho" ao passar o mouse */
.cta-btn:hover::before {
  left: 100%;
}

/* Remove seleção de texto */
.cta-btn:focus {
  outline: none;
}